:root {
    --font-color: #354C57;
    --button-color: #8C82FC;
    --background-color: #f2f2f2;
    --second-color: #D1D1D1;
    --empty-font-color: #969BBF;
    --error-color: #dc3545;
    --border-color: #e0dede;
}

body {
    margin: 0;

    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.01em;

    color: var(--font-color);
    background-color: #F4F8F9;
}